@keyframes move-from-bottom {
  0% {
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit; }

html {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Quicksand", Arial, Helvetica, sans-serif; }

.margin-left-small {
  margin-left: .5rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-big {
  margin-bottom: 6rem; }

.margin-bottom-huge {
  margin-bottom: 8rem; }

.section-title {
  text-transform: uppercase; }
  .section-title--main {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 5px;
    font-weight: 500; }
  .section-title--sub {
    font-size: 3rem;
    color: black;
    letter-spacing: .5rem;
    font-family: "Playfair Display", Georgia, serif; }

.navigation {
  text-transform: uppercase;
  font-size: 1.5rem; }
  .navigation__list {
    list-style-type: none; }
  .navigation__item {
    padding: 1rem;
    text-align: center; }
    .navigation__item:hover {
      cursor: pointer; }
  .navigation__item:hover .navigation__link:link,
  .navigation__item:hover .navigation__link:active,
  .navigation__item:hover .navigation__link:visited {
    color: #2c98f0; }
    .navigation__item:hover .navigation__link:link::after,
    .navigation__item:hover .navigation__link:active::after,
    .navigation__item:hover .navigation__link:visited::after {
      transform: scale(1);
      visibility: visible; }
  .navigation__link {
    transition: all .3s;
    text-decoration: none;
    font-weight: 500;
    position: relative; }
    .navigation__link:link, .navigation__link:active, .navigation__link:visited {
      color: rgba(0, 0, 0, 0.7);
      transform-origin: center; }
      .navigation__link:link::after, .navigation__link:active::after, .navigation__link:visited::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #2c98f0;
        display: inline-block;
        position: absolute;
        left: 0px;
        bottom: -.5rem;
        transition: transform .3s ease-out;
        transform-origin: center;
        visibility: hidden;
        transform: scaleX(0); }

.button-link {
  display: inline-block;
  padding: 1.3rem 1.5rem;
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 3px;
  font-weight: 300;
  text-transform: uppercase;
  outline: none; }
  .button-link:hover {
    cursor: pointer; }
  .button-link:hover .button-link__link:link, .button-link:hover .button-link__link:visited, .button-link:hover .button-link__link:active {
    color: #2c98f0; }
  .button-link__link:link, .button-link__link:visited, .button-link__link:active {
    text-decoration: none;
    border-bottom: none;
    color: rgba(0, 0, 0, 0.7);
    transition: color .3s; }

.services {
  display: flex;
  justify-content: space-between;
  --gutter: 3rem;
  --n: 4; }
  .services__item {
    width: calc((100% - var(--gutter) * (var(--n) - 1)) / var(--n));
    padding: 2rem 2.5rem;
    box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1); }
    .services__item--color-blue {
      color: #2c98f0;
      border-bottom: 2px solid currentColor; }
    .services__item--color-red {
      color: #ec5453;
      border-bottom: 2px solid currentColor; }
    .services__item--color-yellow {
      color: #f9bf3f;
      border-bottom: 2px solid currentColor; }
    .services__item--color-purple {
      color: #a84cb8;
      border-bottom: 2px solid currentColor; }
  .services__item-description {
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    margin-bottom: 2.5rem; }
  .services__item-icon {
    margin-bottom: 1.5rem;
    font-size: 2.5rem; }

.experiences {
  display: flex;
  justify-content: space-between;
  --gutter: 3rem;
  --n: 3;
  flex-wrap: wrap; }
  .experiences__item {
    width: calc((100% - var(--gutter) * (var(--n) - 1)) / var(--n));
    padding: 2rem 2.5rem;
    box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
    margin-bottom: calc(var(--gutter) * 3);
    text-align: center;
    border-bottom: 2px solid currentColor;
    position: relative; }
    .experiences__item--color-blue {
      color: #2c98f0; }
    .experiences__item--color-red {
      color: #ec5453; }
    .experiences__item--color-yellow {
      color: #f9bf3f; }
    .experiences__item--color-purple {
      color: #a84cb8; }
    .experiences__item--color-green {
      color: #2FA499; }
    .experiences__item--color-dark-blue {
      color: #4054B2; }
    .experiences__item::after {
      content: "";
      width: 9rem;
      height: 9rem;
      background-color: currentColor;
      position: absolute;
      display: inline-block;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
  .experiences__item-header {
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    margin-top: 4rem; }
  .experiences__item-description {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 3rem;
    line-height: 1.8; }
  .experiences__item-icon {
    font-size: 2.5rem;
    position: absolute;
    z-index: 1;
    color: white;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%); }

.progress {
  width: 100%;
  height: .6rem;
  border-radius: .5rem;
  background-color: #F2F3F7;
  position: relative; }
  .progress::after {
    content: "";
    background-color: var(--data-color);
    display: inline-block;
    border-radius: .5rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--data-percentage);
    height: 100%; }
  .progress::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--data-color);
    position: absolute;
    top: 50%;
    left: var(--data-percentage);
    border-radius: 50%;
    transform: translate(-50%, -50%); }
  .progress span {
    position: absolute;
    top: -2.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--data-color);
    left: var(--data-percentage);
    transform: translateX(-50%); }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-basis: 25%;
  padding: 5rem 0;
  background-color: #F2F3F7;
  font-size: 1.6rem;
  position: sticky;
  top: 0;
  left: 0; }

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem; }
  .figure__profile-image {
    background-image: url("/img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 2rem; }
  .figure__name {
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.1;
    margin-bottom: 1rem; }
  .figure__description {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.8;
    letter-spacing: 1px; }
  .figure a:link,
  .figure a:active,
  .figure a:visited {
    text-decoration: none;
    color: #2c98f0; }

.footer {
  font-size: 1.3rem;
  display: block;
  font-weight: 400;
  padding: 1.75rem;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 1.5; }
  .footer a:link, .footer a:active, .footer a:visited {
    text-decoration: none;
    color: #2c98f0; }

.header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image .1s;
  position: relative; }
  .header__greet {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 2rem; }
  .header__content {
    max-width: 42rem;
    padding: 5rem;
    position: absolute;
    top: 23%; }
    .header__content--2 {
      display: none; }
  .header__description {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 3rem; }
  .header__link:link, .header__link:visited, .header__link:active {
    color: #2c98f0;
    text-decoration: none;
    border-bottom: 1px solid currentColor; }
  .header__animate {
    animation: move-from-bottom .5s ease-out .4s 1 normal backwards; }
  .header__navigate {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    .header__navigate input {
      display: none; }
      .header__navigate input + label {
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        border: 2px solid #2c98f0;
        display: inline-block;
        cursor: pointer;
        position: relative; }
        .header__navigate input + label:not(:last-child) {
          margin-bottom: .5rem; }
      .header__navigate input:checked + label {
        border: none; }
      .header__navigate input:checked + label:after {
        content: "";
        width: 1.1rem;
        height: 1.1rem;
        background-color: rgba(0, 0, 0, 0.4);
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.main {
  flex-basis: 1;
  width: 100rem; }

.container {
  max-width: 117rem;
  margin: 0 auto;
  display: flex;
  position: relative; }

.about-us {
  padding: 15rem 4rem 0 4rem; }
  .about-us__paragraph {
    font-size: 1.7rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7); }
    .about-us__paragraph:not(:last-child) {
      margin-bottom: 2rem; }
  .about-us__hire-me {
    background-color: #F9BF3F;
    padding: 3rem 4rem; }
    .about-us__hire-me h2 {
      font-size: 3rem;
      font-family: "Playfair Display", georgia, serif;
      font-weight: 400; }

.what-i-do {
  padding: 15rem 4rem 0 4rem; }
  .what-i-do__info {
    background-image: url("/img/cover_bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between; }
  .what-i-do__info-detail {
    padding: 1.5rem;
    text-align: center; }
  .what-i-do__info-number {
    font-size: 4.5rem;
    color: white;
    font-weight: 600;
    margin-bottom: 2rem; }
  .what-i-do__info-description {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase; }

.speciality {
  padding: 15rem 4rem 0 4rem; }
  .speciality__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    --gutter: 3rem;
    --n: 2; }
  .speciality__paragraph {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem; }
  .speciality__item {
    width: calc((100% - var(--gutter) * (var(--n) - 1)) / var(--n));
    margin-bottom: calc(var(--gutter)); }
  .speciality__item-name {
    font-size: 1.8rem;
    font-weight: 400;
    color: black;
    margin-bottom: .8rem; }
  .speciality__item-progress {
    width: 100%; }
    .speciality__item-progress[value] {
      height: 1rem; }
