$color-sidebar: #F2F3F7;
$color-link: #2c98f0;

$color-text-dark: rgba(0, 0, 0, 0.7);
$color-text-light: rgba(0, 0, 0, 0.4);

$color-blue:#2C98F0;
$color-red:#EC5453;
$color-yellow: #F9BF3F;
$color-purple: #A84CB8;
$color-green: #2FA499;
$color-dark-blue:#4054B2;