@import "abstracts/variables";
@import "abstracts/animations";

@import "base/reset";
@import "base/typography";

@import "components/navigation";
@import "components/button";
@import "components/services";
@import "components/expertise";
@import "components/progress";
@import "components/collapse";
@import "components/timeline";

@import "layout/sidebar";
@import "layout/footer";
@import "layout/header";
@import "layout/main";

@import "pages/home";