.experiences {
    display: flex;
    justify-content: space-between;
    --gutter: 3rem;
    --n: 3;
    flex-wrap: wrap;

    &__item {
        width: calc((100% - var(--gutter) * (var(--n) - 1)) / var(--n));
        padding: 2rem 2.5rem;
        box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
        margin-bottom: calc(var(--gutter) * 2);
        text-align: center;
        border-bottom: 2px solid currentColor;
        position: relative;

        &--color-blue {
            color: #2c98f0;
        }

        &--color-red {
            color: #ec5453;
        }

        &--color-yellow {
            color: #f9bf3f;
        }

        &--color-purple {
            color: #a84cb8;
        }

        &--color-green {
            color: #2FA499;
        }

        &--color-dark-blue {
            color: #4054B2;
        }

        &::after {
            content: "";
            width: 9rem;
            height: 9rem;
            background-color: currentColor;
            position: absolute;
            display: inline-block;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }

    }

    &__item-header {
        font-size: 1.6rem;
        font-weight: 500;
        color: black;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
        margin-top: 4rem;
    }

    &__item-description {
        font-size: 1.5rem;
        color: $color-text-dark;
        margin-bottom: 3rem;
        line-height: 1.8;
    }

    &__item-icon {
        font-size: 2.5rem;
        position: absolute;
        z-index: 1;
        color: white;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}