html {
    font-size: 62.5%;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.margin-left-small {
    margin-left: .5rem;
}

.margin-bottom-small {
    margin-bottom: 2rem;
}

.margin-bottom-medium {
    margin-bottom: 4rem;
}

.margin-bottom-big {
    margin-bottom: 6rem;
}

.margin-bottom-huge {
    margin-bottom: 8rem;
}

.section-title {
    text-transform: uppercase;

    &--main {
        font-size: 1.3rem;
        color: $color-text-light;
        letter-spacing: 5px;
        font-weight: 500;
    }

    &--sub {
        font-size: 3rem;
        color: black;
        letter-spacing: .5rem;
        font-family: "Playfair Display", Georgia, serif;
    }

}