.container {
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.about-us {
    padding: 15rem 4rem 0 4rem;

    &__paragraph {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        font-size: 1.7rem;
        font-weight: 400;
        color: $color-text-dark;


    }

    &__hire-me {
        background-color: #F9BF3F;
        padding: 3rem 4rem;

        h2 {
            font-size: 3rem;
            font-family: "Playfair Display", georgia, serif;
            font-weight: 400;
        }
    }

}

.what-i-do {
    padding: 15rem 4rem 0 4rem;

    &__info {
        background-image: url("/img/cover_bg_1.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 4rem 6rem;
        display: flex;
        justify-content: space-between;
    }

    &__info-detail {
        padding: 1.5rem;
        text-align: center;
    }

    &__info-number {
        font-size: 4.5rem;
        color: white;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__info-description {
        font-size: 1.5rem;
        font-weight: 300;
        color: white;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.speciality {
    padding: 15rem 4rem 0 4rem;

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        --gutter: 3rem;
        --n: 2;

    }

    &__paragraph {
        font-size: 1.8rem;
        color: $color-text-dark;
        margin-bottom: 2rem;
    }

    &__item {
        width: calc((100% - var(--gutter) * (var(--n) - 1)) / var(--n));
        margin-bottom: calc(var(--gutter));
    }

    &__item-name {
        font-size: 1.8rem;
        font-weight: 400;
        color: black;
        margin-bottom: .8rem;
    }

    &__item-progress {
        width: 100%;

        &[value] {
            height: 1rem;
        }
    }
}

.education {
    padding: 15rem 4rem 5rem 4rem;
    margin-bottom: 5rem;

}