.container {
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.about-us {
    padding: 15rem 4rem;

    &__title {
        &--main {
            font-size: 1.3rem;
            color: $color-text-light;
            letter-spacing: 5px;
            font-weight: 500;
            text-transform: uppercase;
        }

        &--sub {
            font-size: 3rem;
            color: black;
            letter-spacing: .5rem;
            font-family: "Playfair Display", Georgia, serif;
            text-transform: uppercase;
        }
    }

    &__paragraph {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        font-size: 1.7rem;
        font-weight: 400;
        color: $color-text-dark;


    }

    &__hire-me {
        background-color: #F9BF3F;
        padding: 3rem 4rem;

        h2 {
            font-size: 3rem;
            font-family: "Playfair Display", georgia, serif;
            font-weight: 400;
        }
    }



}